@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --main-bg-color: #ebf2ee;
    --main-bg-color-slide: #E0E9E4;
    --text-color-general:#315250;
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

body{
    max-width: 550px;
    margin: 0 auto;
    font-family: 'Helvetica';
    background-color: var(--main-bg-color);
    text-align: center;
    color: var(--text-color-general);
    
}

.slide{
    background-color: var(--main-bg-color-slide);
    /* background-image: url("../img/bg-mb.png"); */
    /* height: 100vh; */
    padding:0em 1.3em 0em 1.3em ;
    
}
.item-row{
    grid-column: 1/4;
}
.item-1{
    grid-column: 1/2;
    margin: 0;
    
}
.item-2-4{
    grid-column: 2/4;
    text-align: left;
    padding: 0 0 1.5em 0;
}
.slide h2{
    font-family: 'Arial black', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
}
.bodySlide{
    padding-top: 2em ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,0.5fr);
}
.bodySlide h6{
    padding: 0.5em;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
}
.slide a{
    text-decoration: none;
    color: var(--text-color-general);
}
p{
    margin: 0;
    line-height: 1.8rem;
}

/* ---------------------- CUANDO ES MOVIL ---------------------- */

@media (min-height<= 680px) {
    body{
        background-color: var(--main-bg-color);
        text-align: center;
        /* margin-top: 10%;
        margin-bottom: 10%;
        padding:10%; */
    }
}