@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Special+Elite&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

:root {
    --main-bg-color: #ebf2ee;
    --main-bg-color-slide: #E0E9E4;
    /* --text-color-general:#315250; */
    --text-color-general:#01777e;
    --main-bg-color-white:#fff;
    /* --text-color-general:#0A9BA2; */
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-size:18px; */
  }

body{
    max-width: 550px;
    margin: 0 auto;
    /* font-family: 'Helvetica'; */
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Courier Prime';
    font-size: 18px;
    background-color: var(--main-bg-color);
    text-align: center;
    color: var(--text-color-general);
    
}

.slide{
    
    /* background-image: url("../img/bg-mb.png"); */
    /* height: 100vh; */
    /* padding:0em 1.3em 0em 1.3em ; */
    
}
.item-row{
    grid-column: 1/4;
}
.item-1{
    grid-column: 1/2;
    margin: 0;
    
}
.item-2-4{
    grid-column: 2/4;
    text-align: left;
    padding: 0 0 1.5em 0;
}
.slide h2{
    /* font-family: 'Arial black', sans-serif; */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.bodySlide{
    /* padding-top: 2em ; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,0.5fr);
}

.bodySlide h6{
    padding: 0.5em;
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
}
.slide a{
    text-decoration: none;
    color: var(--text-color-general);
}
p{
    margin: 0;
    line-height: 1.8rem;
}

.container{
    padding: 0;
    /* padding-bottom: 2rem; */

    background-image: url('../img/bg-general.png');
    background-size: 100%;
    background-color: var(--main-bg-color-white);   
}

.slide__img-principal{
    align-items: center;
    padding: 1rem 0;
}
.slide__img-principal img{
    width: 60%;
}

.img-separador{
    padding: 2rem 0;
    width: 100%;
}
.img-separador img{
    width: 55%;
}


@-webkit-keyframes efectClic { 
    0% { opacity: 0; }
    10% { opacity: 0.3; }
    20% { opacity: 0.5; }
    30% { opacity: 0.9; }
    40% { opacity: 1; }
    50% { opacity: 0.9; }
    60% { opacity: 0.5; }
    80% { opacity: 0.3; }
    100% { opacity: 0; }
  }
@keyframes efectClic {
    0% { opacity: 0; }
    10% { opacity: 0.3; }
    20% { opacity: 0.5; }
    30% { opacity: 0.9; }
    40% { opacity: 1; }
    50% { opacity: 0.9; }
    60% { opacity: 0.5; }
    80% { opacity: 0.3; }
    100% { opacity: 0; }
  }

/* .animation-clic{ */
.icon-clic-whatsapp, .icon-clic-medium{
    -webkit-animation-name: efectClic;
    -webkit-animation-duration: 2s;
    animation-name: efectClic;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.icon-whatsapp{
    width: 40px;
}
.icon-clic-whatsapp{
    width: 10px;
}
.img-fin{
    transform: rotate(180deg);
    padding: 0;
}
/* ---------------------- Grid Regalos */
.text-regalos{
    padding: 0rem 4rem;
}
.icon-regalos{
    width: 60px;
}
.icon-clic-medium{
    width: 20px;
}

.body-regalos{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,0.5fr);
}
.body-regalos__item-row{
    grid-column: 1/3;
    padding: 2rem 0rem;
}
.body-regalos__item-1{
    grid-column: 1/2;
    text-align: center;
    padding: 0.7rem 0rem;
    margin: 0;
}
.body-regalos__item-2{
    grid-column: 2/3;
    text-align: center;
    padding: 0.7rem 0rem;
}

/* ---------------------- Grid end Regalos */

/* ---------------------- CUANDO ES MOVIL ---------------------- */

@media (min-height<= 680px) {
    body{
        background-color: var(--main-bg-color);
        text-align: center;
        /* margin-top: 10%;
        margin-bottom: 10%;
        padding:10%; */
    }
}